<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="../js/jquery.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/commitTask.js"></script>
		<link href="../css/default.css" rel="stylesheet" type="text/css" />
		<link href="../css/commitTask.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
			document.addEventListener('plusready', function() {
				//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。")

			});
		</script>
	</head>
	<body>
		<div class="head"><img class="back" src="../img/images/mipmap-hdpi/public_but_fanhui_b.png" />提交任务</div>
		<div class="content">
			<div class="bt-card lab">
				<label id="taskMoney"></label>
			</div>
			<div class="bt-card lab">
				<label id="taskStatus"></label>
			</div>
			<div class="bt-card upload-div">
				<div class="upload-div-div">
					<label style="float: left;">任务截图</label>
					<div class="upload-btn-img">
						<img src="../img/images/mipmap-hdpi/public_but_shangchuan.png" />
						<input type="file" id="file" class="filepath" onchange="changepic(this)" accept="image/jpg,image/jpeg,image/png,image/PNG">
					</div>
				</div>
				<div>
					<div class="upload-img-div" id="upload-img"></div>
				</div>
			</div>
			<div>
				<button onclick="commit()">提交</button>
			</div>
		</div>
	</body>
</html>
