<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="../js/jquery.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/myTask.js"></script>
		<link href="../css/default.css" rel="stylesheet" type="text/css" />
		<link href="../css/myTask.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
			document.addEventListener('plusready', function() {
				//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。")

			});
		</script>
	</head>
	<body>
		<div class="head">点赞</div>

		</div>
		<div class="myTaskLsit" id="myTaskList"></div>
		<div class="tab-div">
			<div class="tab-nav" id="nav-task">
				<div><img src="../img/images/mipmap-hdpi/public_but_renwu_def.png"></div>
				<label>任务</label>
			</div>
			<div class="tab-nav" id="nav-myTask">
				<div><img src="../img/images/mipmap-hdpi/public_but_dianzan_sel.png"></div>
				<label>点赞</label>
			</div>
			<div class="tab-nav" id="nav-member">
				<div><img src="../img/images/mipmap-hdpi/public_but_huiyuan_def.png"></div>
				<label>会员</label>
			</div>
			<div class="tab-nav" id="nav-user">
				<div><img src="../img/images/mipmap-hdpi/public_but_wode_def.png"></div>
				<label>我的</label>
			</div>
		</div>
	</body>
</html>
