<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src="../js/jquery.js"></script>
		<script src="../js/config.js"></script>
		<script src="../js/myTeam.js"></script>
		<link href="../css/default.css" rel="stylesheet" type="text/css" />
		<link href="../css/myTeam.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
			document.addEventListener('plusready', function() {
				//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。")

			});
		</script>
	</head>
	<body>
		<div class="head"><img class="back" src="../img/images/mipmap-hdpi/public_but_fanhui_b.png" />我的团队</div>
		<div class="content">
			<div class="tab-div top-nav">
				<div class="tab-nav this">直属下级</div>
				<div class="tab-nav">间接下级</div>
			</div>
			<div class="list" id="list">
			</div>
		</div>
	</body>
</html>
