.bt-card {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.6rem;
    padding: 0.5rem;
}

.noticList {
    margin-top: 3rem;
}

.time {
    text-align: right;
    color: #ccc;
    font-size: xx-small;
}