<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爆团登录</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/npm.js"></script>
</head>
<body>
    <input>
        <input type="text" placeholder="手机号"/>
        <input type="password" placeholder="密码"/>
        <button type="submit" value="登录"></button>
        <button value="注册"></button>
    </form>
</body>
</html>