<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>爆团</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">爆团</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="main-user">控制台</a></li>
            //用户、收益、转账图表
            <li class="layui-nav-item"><a href="task">任务管理</a></li>
            //任务发布
            <li class="layui-nav-item"><a href="user-list">用户管理</a></li>
            //用户禁用、转账
            <li class="layui-nav-item layui-this"><a href="sys-user">系统管理</a></li>
            //管理员、权限
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
            </li>
            <li class="layui-nav-item"><a href="login">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a href="sys-user">用户管理</a></li>
                <li class="layui-nav-item layui-this"><a href="sys-notice">公告管理</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="showOne">发布公告</button>
            </div>
        </script>
        <!-- 内容主体区域 -->
        <table class="layui-table" lay-filter="table-notice" id="table-notice"></table>

    </div>
    <div id="add-div" lay-filter="add-div" style="display: none;">
        <form lay-filter="add-task" class="layui-form" id="add-task" style="padding-top: 20px">
            <div class="layui-form-item  layui-col-xs11">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" id="title" lay-verify="title" autocomplete="off" placeholder="标题"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item  layui-col-xs11">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    <textarea type="text" name="context" id="context" lay-verify="context" autocomplete="off"
                              placeholder="内容"
                              class="layui-input"></textarea>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="layui/layui.js"></script>
<script th:inline="none">
    var $, table, layer, form;
    layui.use(['jquery', 'element', 'table', 'layer', 'form'], function () {
        table = layui.table;
        $ = layui.jquery;
        layer = layui.layer;
        form = layui.form;

        var sysUserId = localStorage.getItem("sysUserId");
        if (sysUserId == "undefined" || sysUserId == null) {
            location.href = "login";
        }

        table.render({
            elem: "#table-notice",
            url: "baotuan/notice/getPageNoticeList",
            method: "POST",
            data: {
                page: 1,
                limit: 10
            },
            toolbar: "#toolbar",
            dataType: "application/json",
            height: 500,
            page: true,
            cols: [[
                {
                    field: "id",
                    sort: true,
                    title: "ID"
                }, {
                    field: "title",
                    sort: true,
                    title: "标题"
                }, {
                    field: "context",
                    title: "内容"
                }, {
                    field: "enabled",
                    sort: true,
                    title: "发布状态",
                    templet: function (op) {
                        return op.enabled ? "已发布" : "未发布";
                    }
                }, {
                    field: "createtime",
                    title: "发布时间",
                    sort: true,
                    templet: function (op) {
                        return op.createtime.replace("T", " ");
                    }
                }, {
                    fixed: 'right',
                    title: '操作',
                    templet: function (op) {
                        if (!op.enabled) {
                            return "<a class='layui-btn layui-btn-xs' lay-event='enabled'>发布</a>" +
                                "<a class='layui-btn layui-btn-xs' lay-event='update'>修改</a>" +
                                "<a class='layui-btn layui-btn-xs' lay-event='delete'>删除</a>";
                        } else {
                            return "";
                        }
                    }
                }
            ]],
            parseData: function (res) {
                return {"code": res.code ? 0 : 1, "msg": res.msg, "count": res.data.total, "data": res.data.records}
            }
        })
        table.on('toolbar(table-notice)', function (obj) {
            if (obj.event === 'showOne') {
                showOne();
            }
        });
        table.on('tool(table-notice)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                del(data);
            } else if (obj.event === 'update') {
                update(data);
            } else if (obj.event === 'enabled') {
                enabled(data);
            } else {

            }
        });
    });


    function showOne() {
        layer.open({
            type: 1,
            content: $('#add-div'),
            area: ['500px', '500px'],
            title: "发布公告",
            btn: ['确认', '取消'],
            btnAlign: "c",
            yes: function (index, layero) {
                $.ajax({
                    url: 'baotuan/notice/insertNotice',
                    method: "POST",
                    data: {
                        title: $("#title").val(),
                        context: $("#context").val(),
                    },
                    success: function (res) {
                        if (res.code) {
                            layer.close(index)
                            table.reload("table-notice");
                            $("#add-task")[0].reset();
                        }
                    }
                })
            },
            btn2: function (index, layero) {
                layer.close(index)
                return false;
            },
            cancel: function (index, layero) {
                layer.close(index)
                return false;
            }

        })
    }

    function del(data) {
        layer.confirm('刪除后不可恢复，是否删除？', {
            title: "确认删除",
            btn: ['确认', '取消'], //可以无限个按钮
            yes: function (index, layero) {
                $.ajax({
                    url: 'baotuan/notice/deleteNotice',
                    method: 'POST',
                    data: {id: data.id},
                    success: function (res) {
                        layer.msg(res.msg)
                        table.reload("table-notice");
                    }
                })
                layer.close(index);
            }
        });
    }

    function update(data) {
        $("#title").val(data.title);
        $("#context").val(data.context);
        layer.open({
            type: 1,
            content: $('#add-div'),
            area: ['500px', '500px'],
            title: "修改公告",
            btn: ['确认', '取消'],
            btnAlign: "c",
            yes: function (index, layero) {
                $.ajax({
                    url: 'baotuan/notice/updateNotice',
                    method: "POST",
                    data: {
                        id: data.id,
                        title: $("#title").val(),
                        context: $("#context").val(),
                    },
                    success: function (res) {
                        layer.msg(res.msg);
                        if (res.code) {
                            layer.close(index)
                            table.reload("table-notice");
                            $("#add-task")[0].reset();
                        }
                    }
                })
            },
            btn2: function (index, layero) {
                layer.close(index)
                return false;
            },
            cancel: function (index, layero) {
                layer.close(index)
                return false;
            }

        })
    }

    function enabled(data) {
        layer.confirm('发布后不可修改、删除，是否确认发布？', {
            title: "确认发布",
            btn: ['确认', '取消'], //可以无限个按钮
            yes: function (index, layero) {
                $.ajax({
                    url: 'baotuan/notice/updateEnabled',
                    method: 'POST',
                    data: {id: data.id},
                    success: function (res) {
                        layer.msg(res.msg)
                        table.reload("table-notice");
                    }
                })
                layer.close(index);
            }
        });
    }
</script>
<script th:inline="none" src="js/admin.js"></script>
</body>
</html>