<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>爆团</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">爆团</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="main-user">控制台</a></li>
            <li class="layui-nav-item"><a href="task">任务管理</a></li>
            <li class="layui-nav-item  layui-this"><a href="user-list">用户管理</a></li>
            <li class="layui-nav-item"><a href="sysUser">系统管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-this"><a href="user-list">用户列表</a></li>
                <li class="layui-nav-item"><a href="user-withdrawals">用户提现</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table class="layui-table" lay-filter="table-user" id="table-user"></table>
    </div>

    <!--<div class="layui-footer">
        &lt;!&ndash; 底部固定区域 &ndash;&gt;
        © layui.com - 底部固定区域
    </div>-->
</div>
<script src="layui/layui.all.js"></script>
<script th:inline="none">
    //JavaScript代码区域
    var table, $, element;
    layui.use(['jquery', 'element', 'table'], function () {
        table = layui.table;
        $ = layui.jquery;
        table.render({
            elem: "#table-user",
            url: "baotuan/viewUser/getViewUserList",
            method: "POST",
            data: {
                page: 1,
                limit: 10
            },
            dataType: "application/json",
            height: 500,
            page: true,
            cols: [[
                {
                    field: "id",
                    sort: true,
                    title: "ID"
                }, {
                    field: "code",
                    sort: true,
                    title: "编码"
                }, {
                    field: "phone",
                    title: "电话"
                }, {
                    field: "inviterCode",
                    sort: true,
                    title: "邀请人编码"
                }, {
                    field: "AlipayAccount",
                    title: "支付宝账号",
                }, {
                    field: "AlipayName",
                    title: "支付宝姓名",
                }, {
                    field: "enabled",
                    title: "账号状态",
                    templet: function (op) {
                        if (op.enabled) {
                            return "启用中";
                        } else {
                            return "禁用";
                        }
                    }
                }, {
                    fixed: 'right',
                    title: '操作',
                    templet: function (op) {
                        if (op.enabled) {
                            return "<a class='layui-btn layui-btn-xs' lay-event='enabled' onclick='enabled(" + op.id + ")'>禁用</a>";
                        } else {
                            return "<a class='layui-btn layui-btn-xs' lay-event='enable' onclick='enable(" + op.id + ")'>启用</a>";
                        }
                    }
                }
            ]],
            parseData: function (res) {
                return {"code": res.code ? 0 : 1, "msg": res.msg, "count": res.data.total, "data": res.data.records}
            }
        })
    });

    function enabled(id) {
        $.ajax({
            url: '/baotuan/user/enabled',
            dataType: 'json',
            data: {id: id},
            method: 'POST',
            success: function (res) {
                table.reload('table-user');
            }
        })
    }

    function enable(id) {
        $.ajax({
            url: '/baotuan/user/enable',
            dataType: 'json',
            data: {id: id},
            method: 'POST',
            success: function (res) {
                table.reload('table-user');
            }
        })
    }
</script>
</body>
</html>