<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>爆团</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">爆团</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="main-user">控制台</a></li>
            <li class="layui-nav-item"><a href="task">任务管理</a></li>
            <li class="layui-nav-item  layui-this"><a href="user-list">用户管理</a></li>
            <li class="layui-nav-item"><a href="sys-user">系统管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
            </li>
            <li class="layui-nav-item"><a href="login">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a href="user-list">用户列表</a></li>
                <li class="layui-nav-item layui-this"><a href="user-withdrawals">用户提现</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table class="layui-table" lay-filter="table-withdrawals" id="table-withdrawals"></table>
    </div>
    <div id="ewm" style="display: none;">
        <img src="#" style="width: 200px;height: auto">
    </div>
    <!--<div class="layui-footer">
        &lt;!&ndash; 底部固定区域 &ndash;&gt;
        © layui.com - 底部固定区域
    </div>-->
</div>
<script src="layui/layui.all.js"></script>
<script th:inline="none">
    //JavaScript代码区域
    var $, table, layer;
    layui.use(['jquery', 'element', 'table','layer'], function () {
        table = layui.table;
        $ = layui.jquery;
        layer = layui.layer;

        var sysUserId = localStorage.getItem("sysUserId");
        if (sysUserId == "undefined" || sysUserId == null) {
            location.href = "login";
        }

        table.render({
            elem: "#table-withdrawals",
            url: "baotuan/viewSysBrokerages/getViewSysBrokeragesList",
            method: "POST",
            data: {
                page: 1,
                limit: 10
            },
            dataType: "application/json",
            height: 500,
            page: true,
            cols: [[
                {
                    field: "id",
                    sort: true,
                    title: "ID"
                }, {
                    field: "code",
                    sort: true,
                    title: "用户编码"
                }, {
                    field: "money",
                    title: "提款金額（元）",
                }, {
                    field: "payMoney",
                    title: "应付金额（元）",
                }, {
                    field: "alipayAccount",
                    title: "支付宝账号"
                }, {
                    field: "alipayName",
                    title: "支付宝姓名"
                }, {
                    field: "fileUrl",
                    title: "支付宝二维码",
                    templet: function (op) {
                        return "<a onclick='show(\"" + op.fileUrl + "\")'>点击查看</a>";
                    }

                }, {
                    title: '操作',
                    templet: function (op) {
                        return "<a class='layui-btn layui-btn-xs' lay-event='showPay' onclick='paid(" + op.id + ")'>支付</a><a class='layui-btn layui-btn-xs' lay-event='showPay' onclick='failed(" + op.id + ")'>驳回</a>";
                    }
                }
            ]],
            parseData: function (res) {
                return {"code": res.code ? 0 : 1, "msg": res.msg, "count": res.data.total, "data": res.data.records}
            }
        })
    });

    function paid(id) {
        $.ajax({
            url: '/baotuan/sysBrokerages/paid',
            dataType: 'json',
            data: {id: id},
            method: 'POST',
            success: function (res) {
                table.reload('table-withdrawals');
            }
        })
    }

    function failed(id) {
        $.ajax({
            url: '/baotuan/sysBrokerages/failed',
            dataType: 'json',
            data: {id: id},
            method: 'POST',
            success: function (res) {
                table.reload('table-withdrawals');
            }
        })
    }

    function show(url) {
        $("#ewm img").attr("src", "http://119.8.37.167" + url);
        //弹出层
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            area: '200px',
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content: $('#ewm')
        })
    }
</script>
<script th:inline="none" src="js/admin.js"></script>
</body>
</html>