<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lila.baotuan.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lila.baotuan.entity.User">
		<id column="code" property="code" />
		<result column="phone" property="phone" />
		<result column="password" property="password" />
		<result column="invite_code" property="inviteCode" />
		<result column="user_code" property="userCode" />
		<result column="zfb_account" property="zfbAccount" />
		<result column="zfb_url" property="zfbUrl" />
		<result column="money" property="money" />
		<result column="member_code" property="memberCode" />
	</resultMap>

</mapper>
