<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lila.baotuan.mapper.ViewBrokeragesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lila.baotuan.entity.ViewBrokerages">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="money" property="money" />
        <result column="pay_money" property="payMoney" />
        <result column="createtime" property="createtime" />
        <result column="sys_brokerages_type_id" property="sysBrokeragesTypeId" />
        <result column="sys_brokerages_type_code" property="sysBrokeragesTypeCode" />
        <result column="sys_brokerages_type_name" property="sysBrokeragesTypeName" />
        <result column="code" property="code" />
        <result column="phone" property="phone" />
    </resultMap>

</mapper>
