<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lila.baotuan.mapper.ViewPayInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lila.baotuan.entity.ViewPayInfo">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="pay_money" property="payMoney" />
        <result column="pay_code" property="payCode" />
        <result column="pay_status_id" property="payStatusId" />
        <result column="createtime" property="createtime" />
        <result column="content" property="content" />
        <result column="reason" property="reason" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="phone" property="phone" />
        <result column="Alipay_name" property="alipayName" />
        <result column="Alipay_account" property="alipayAccount" />
        <result column="pay_status_code" property="payStatusCode" />
        <result column="pay_status_name" property="payStatusName" />
    </resultMap>

</mapper>
