<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lila.baotuan.mapper.ViewUserTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lila.baotuan.entity.ViewUserTask">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="task_id" property="taskId" />
        <result column="task_status_id" property="taskStatusId" />
        <result column="user_money" property="userMoney" />
        <result column="task_money" property="taskMoney" />
        <result column="invite_id" property="inviteId" />
        <result column="createtime" property="createtime" />
        <result column="title" property="title" />
        <result column="context" property="context" />
        <result column="url" property="url" />
        <result column="user_task_createtime" property="userTaskCreatetime" />
        <result column="upload_file_id" property="uploadFileId" />
        <result column="name" property="name" />
        <result column="file_url" property="fileUrl" />
        <result column="size" property="size" />
        <result column="upload_time" property="uploadTime" />
    </resultMap>

</mapper>
